@cell-size: 32px;

table {
  .gamemeta {
    align: center;
  }
}

.c1 {
  width: 300px;
  text-align: left;
}

.c2 {
  width: 100px;
  text-align: center;
}

.c3 {
  width: 300px;
  text-align: right;
}

ul.sunkships {
  list-style-type: none;
  display: inline;
  padding: 0;

  li {
    display: inline;
  }

  li:after {
    content: ", ";
  }
  li:last-child:after {
    content: "";
  }
}