table.board {
  font-family: monospace;
  cursor: default;
  border-spacing: 0;
}

table.board th, table.board td {
  width: 32px;
  height:32px;
  text-align: center;
  padding:0;
}

table.board th {
  font-weight: bold;
  font-size:10;
}

table.board td {
  font-weight: normal;
}

table.board .miss {
  color: blue;
}

table.board .hit, table.board .sunk {
  color: red;
}

table.board .cell {
  padding:0;
  border: 1px solid black;
}

table.board .cell:hover {
  background-color: orange;
  border: 1px solid orange;
}